.div-tabs {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-tab {
    background: transparent;
    cursor: pointer;
    transition: background-color .2s ease;
    color: var(--color-blue);
    border: none;
    border-radius: 15px 15px 0px 0px;
    width: 248px;
    height: 97px;

    font-family: Josefin Sans, sans-serif;
    font-weight: 500;
    font-size: 30px;
}

    .mobile-tab{
        display: none;
    }

.tabsActive {
    background-color: var(--color-tabblue);
    color: var(--color-white);
}

// mobile view

@media screen and (max-width: 768px) {
    .mobile-tab{
        display: block;
    }

    .desktop-tab{
        display: none;
    }
}
