
<h2>My Projects</h2>

<!-- Tab-Buttons: werden aus der Service-Liste generiert -->
<div class="div-tabs" role="tablist">

  @for (tab of tabsSvc.tabs(); track tab.key; let i = $index) {
  <button
    class="button-tab"
    type="button" role="tab"
    [attr.aria-selected]="tabsSvc.activeKey() === tab.key"
    [class.tabsActive]="tabsSvc.activeKey() === tab.key"
    (click)="tabsSvc.setActive(tab.key, i)">

    {{ i + 1 }}. {{ tab.label }}
  </button>
  }
</div>

<!-- Inhalt des aktiven Tabs -->
<div class="content-wrap">
  <!-- tabsSvc.activeData() gibt dir das TabData-Objekt des aktuell aktiven Tabs -->
  <!-- Das Ausrufezeichen ! sagt TypeScript: "ist garantiert da" (du kannst auch vorher @if prüfen) -->
  <app-tab-content [data]="tabsSvc.activeData()!"></app-tab-content>
</div>
