.teamplayer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 50px;
    margin: 80px 0px;
}

.shape-wrapper {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Der Text liegt über den Shapes */
.team-text {
    position: absolute;
    padding: 0 32px;
    height: 250px;
    width: 314px;
    font-family: Josefin Sans, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--color-white);
    line-height: 1.2;
    cursor: default;
    z-index: 1;
    /* Text sicher über den Bildern */

    >.text-link {
        margin-top: 32px;

        a {
            color: var(--color-blue);
        }
    }

    >.text-statement {
        height: 125px;
    }
}

.shape-container {
    width: 400px;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Beide Bilder übereinander platzieren */
.shape-container img {
    position: absolute;
    // inset: 0;
}

/* Standardzustand: oberes Bild sichtbar, unteres unsichtbar */
.img-top {
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
}

.img-bottom {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

/* Wenn der Wrapper die Klasse .hover bekommt, ändern wir die Opacity */
.shape-wrapper.hover .img-top {
    opacity: 0;
}

.shape-wrapper.hover .img-bottom {
    opacity: 1;
}

.headline {
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    line-height: 120%;
    margin-block-start: 80px;
    margin-block-end: 40px;
}

// mobile view


/* ✅ Nur Mobile: horizontal swipe */
@media (max-width: 768px) {
    .teamplayer-container.swipe {
        justify-content: flex-start;
        gap: 32px;

        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;

        scroll-snap-type: x mandatory;
        padding: 0 16px;

        /* optional: Scrollbar verstecken */
        scrollbar-width: none;
    }

    .teamplayer-container.swipe::-webkit-scrollbar {
        display: none;
    }

    /* Jede Card soll “einrasten” */
    .teamplayer-container .card {
        scroll-snap-align: center;

        /* wichtig: damit Flex nicht zusammendrückt */
        flex: 0 0 85%;
        max-width: 85%;
    }
}

@media (max-width: 580px) {

    .team-text {
        height: 200px;
        width: 200px;
        font-weight: 400;
        font-size: 14px;

        >.text-statement {
            height: auto;
        }
        >.text-link {
            margin-top: 16px;
        }
        >h3{
            margin-top: 8px;
            margin-left: 8px;
        }
    }

    .img-top,
    .img-bottom {
        width: 100%;
        height: 100%;
        max-width: 300px;
        min-width: 300px;
    }

    .shape-container {
        width: 300px;
        height: 300px;

    }

    .teamplayer-container.swipe {
        gap: 64px;
    }
}