.why-me {
    align-items: center;
    min-height: 307px;
    height: 100%;



    .why-me-wraper {
        display: flex;
        justify-content: space-between;
        align-items: start;
        font-weight: 400;
        cursor: default;

        >.location-wraper {
            font-size: 32px;
            font-style: bold;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        >.why-me-text {
            width: 379px;
            color: var(--color-white);
            font-size: 18px;
            line-height: 1.2;
        }

    }
}


.blue-text {
    color: var(--color-blue);
    margin-right: 8px;
}

.location-text {
    color: var(--color-white)
}

.button-wraper {
    width: 860px;
    display: flex;
    justify-content: flex-end;

    font-family: Josefin Sans, sans-serif;
    font-weight: 400;
    font-size: 18px;


    // Button wirklich programmieren oder doch als Bild einsetzten??
    >button {
        width: 134px;
        height: 48px;
        border: solid 1px var(--color-blue);
        border-radius: 30px;
        background-color: transparent;
        color: var(--color-blue);

        &:hover {
            background-color: transparentize($color: #000000, $amount: 0.9);
            cursor: pointer;
        }
    }
}

// mobile view 

@media (max-width: 910px) {
    .why-me {
        .why-me-wraper {
            flex-direction: column;
            align-items: center;
            text-align: center;

            >.location-wraper {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 16px;
            }

            >.why-me-text {
                width: 100%;
                max-width: 700px;
                font-size: 16px;
                >p{
                    padding: 0 16px;
                }
            }
        }
    }

    .button-wraper {
        display: none;
    }
}