<div class="wrapper">
    <div class="why-me width">
        <h2>Why me</h2>

        <div class="why-me-wraper">
            <div class="location-wraper">
                <img src="assets/img/icons/location.png" alt="Location Icon">
                <p class="blue-text">I am</p>
                <p class="location-text">located in Munich...|</p>
            </div>

            <div class="why-me-text">
                <p>Why are you passionate about coding?
                    You can include some key traits like: analytical thinking, creativity, persistence and
                    collaboration.
                    A problem-solving mindset is always nice to have.</p>
            </div>
        </div>
        <div class="button-wraper">
            <button (click)="scrollToContact($event)">Let's talk</button>
        </div>
    </div>
</div>