<div class="wrapper">
    <div class="why-me width">
        <h2>{{ langSvc.t.whyMe.title[langSvc.lang()] }}</h2>

        <div class="why-me-wraper">
            <div class="location-wraper">
                <img src="assets/img/icons/location.png" alt="Location Icon">
                <p class="blue-text">{{ langSvc.t.whyMe.locationOne[langSvc.lang()] }}</p>
                <p class="location-text">{{ langSvc.t.whyMe.locationTwo[langSvc.lang()] }}</p>
            </div>

            <div class="why-me-text">
                <p>{{ langSvc.t.whyMe.motivation[langSvc.lang()] }}</p>
            </div>
        </div>
                <div class="button-wraper">
            <button (click)="scrollToContact($event)">{{ langSvc.t.whyMe.button[langSvc.lang()] }}</button>
        </div>
    </div>
</div>