a {
    color: var(--color-blue);
}

.form-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    width: 911px;
    height: 661px;
    font-family: Josefin Sans, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: var(--color-white);
}

.text-info-wrapper {
    display: flex;
    gap: 32px;
    padding-top: 16px;
}

.form-text {
    width: 50%;
}

.form-contact-infos {
    width: 50%;

    >.contact-mail,
    .contact-tel {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 16px;
    }
}

// form

.form-wraper {
    font-size: 14px;
    line-height: 120%;
}

label {
    padding-left: 16px;
}

.input-one {
    margin-top: 64px;
    display: flex;
    gap: 32px;
    color: var(--color-blue);

    >.input {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        width: 50%;
    }
}

.input-two {
    color: var(--color-blue);
    margin-top: 16px;
}

.input-feeld {
    width: 100%;
    max-width: 433px;
}


.input-textarea {
    width: 100%;
    max-width: 905px;
    height: 150px !important;
    resize: none;
}

.input-design {
    height: 60px;
    border-radius: 30px;
    border: 1px solid var(--color-blue);
    background-color: var(--color-anthra);
    color: white;
    font-family: Josefin Sans, sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding: 10px;
}

.privacy-policy-check {
    display: flex;
    align-items: center;
    gap: 8px;
}

.check-box {
    width: 24px;
    height: 24px;
}

.submit-button {
    display: flex;
    justify-content: end;
    align-items: center;

    >input {
        width: 110px;
        height: 48px;
        border-radius: 30px;
        border: 1px solid var(--color-lightgrey);
        background-color: var(--color-anthra);
        color: white;
        cursor: pointer;
    }
}