a {
    color: var(--color-blue);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.form-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    width: 100%;
    max-width: 911px;
    min-height: 661px;
    font-family: Josefin Sans, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: var(--color-white);
    padding: 0 16px;
}

.text-info-wrapper {
    display: flex;
    gap: 32px;
    padding-top: 16px;
}

.form-text {
    width: 100%;
}

.form-contact-infos {
    width: 100%;

    >.contact-mail,
    .contact-tel {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 16px;
    }

    >.contact-mail:hover,
    .contact-tel:hover {
        color: var(--color-blue);
    }
}

// form

.inside-form-wrapper {
    font-size: 14px;
    line-height: 120%;
}

label {
    padding-left: 16px;
}

input:focus,
textarea:focus {
    background-color: var(--color-tabblue);
    outline: none;
}


.input-one {
    margin-top: 64px;
    display: flex;
    gap: 32px;
    color: var(--color-blue);


    >.input {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        width: 50%;
    }
}

.input-two {
    color: var(--color-blue);
    margin-top: 16px;

}

.input-field {
    width: 100%;
    max-width: 100%;
}


.input-textarea {
    width: 100%;
    max-width: 100%;
    height: 150px !important;
    resize: none;
}

.input-design {
    height: 60px;
    border-radius: 30px;
    border: 1px solid var(--color-blue);
    background-color: var(--color-anthra);
    color: white;
    font-family: Josefin Sans, sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 10px;
}

.input-design.invalid {
    border: 2px solid var(--color-red) !important;
}

.privacy-policy-check {
    display: flex;
    align-items: center;
    gap: 8px;
}

.check-box {
    width: 24px;
    height: 24px;
}

.submit-button-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;

    >.button-for-submint {
        width: 110px;
        height: 48px;
        border-radius: 30px;
        border: 1px solid rgba(248, 245, 236, 1);
        background-color: var(--color-anthra);
        color: rgba(248, 245, 236, 1);
        cursor: pointer;
    }

    >.button-for-submint:hover {
        border: 1px solid var(--color-blue);
        color: var(--color-blue);
    }
}

.error-text {
    color: var(--color-red);
    margin-top: 8px;
    padding-left: 16px;
}

.arrow-wrapper {
    position: absolute;
    bottom: 600px;
    right: 200px;
    cursor: pointer;

    width: 38px;
    height: 89px;
}

.arrow-wrapper .arrow-top {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: block;
    transition: opacity 0.4s ease-in-out;
}

.arrow-base {
    opacity: 1;
}

.arrow-hover {
    opacity: 0;
}

.arrow-wrapper.hover .arrow-base {
    opacity: 0;
}

.arrow-wrapper.hover .arrow-hover {
    opacity: 1;
}

@media (max-width: 1250px) {
    .arrow-wrapper {
        right: 50px;
    }
}

@media (max-width: 840px) {



    .text-info-wrapper {
        flex-direction: column-reverse;
        gap: 16px;
        padding: 0px 32px;
    }

    .input-one {
        flex-direction: column;
        gap: 16px;
    }

    .input-one>.input {
        width: 100%;
    }

    .input-field,
    .input-textarea {
        max-width: 100%;
    }

    .submit-button-wrapper {
        margin-right: 32px;
    }

    .arrow-wrapper .arrow-hover {
        display: none;
    }

    .arrow-wrapper .arrow-base {
        opacity: 1 !important;
    }

    .arrow-wrapper.hover .arrow-base {
        opacity: 1 !important;
    }

    .arrow-wrapper.hover .arrow-hover {
        opacity: 0 !important;
    }

    .arrow-wrapper {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 64px 0px;
    }

    .arrow-wrapper .arrow-top {
        position: static;
        width: 38px;
        height: 89px;
    }
}