<div class="form-content">
    <div class="form-wrapper">
        <h2>{{ langSvc.t.contactMe.title[langSvc.lang()] }}</h2>
        <div class="text-info-wrapper">
            <div class="form-text">
                {{ langSvc.t.contactMe.text[langSvc.lang()] }}
            </div>

            <div class="form-contact-infos">
                    <!-- MAIL -->
                    <div class="contact-mail" (mouseenter)="hoverSvc.setHover(mailHoverKey, true)"
                        (mouseleave)="hoverSvc.setHover(mailHoverKey, false)">

                        <img [src]="hoverSvc.getHover(mailHoverKey)
                ? 'assets/img/icons/icon_email_hover.png'
                : 'assets/img/icons/icon_email.png'" alt="email icon" class="contact-icon">

                        <div>E-mail: hantelmarcogmail.com</div>
                    </div>

                    <!-- PHONE -->
                    <div class="contact-tel" (mouseenter)="hoverSvc.setHover(phoneHoverKey, true)"
                        (mouseleave)="hoverSvc.setHover(phoneHoverKey, false)">

                        <img [src]="hoverSvc.getHover(phoneHoverKey)
                ? 'assets/img/icons/icon_phone_hover.png'
                : 'assets/img/icons/icon_phone.png'" alt="phone icon" class="contact-icon">

                        <div>Tel.: +49 1743939622</div>
                    </div>
            </div>
        </div>

        <!-- form -->
        <div class="inside-form-wrapper">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <div class="input-one">
                    <div class="input">
                        <label for="name">{{ langSvc.t.contactMe.forms.name[langSvc.lang()] }}</label>
                        <input id="inputName" class="input-field input-design" #name="ngModel"
                            [(ngModel)]="contactData.name" type="text" id="name" name="name" minlength="2"
                            value="your name" required
                            [class.invalid]="!name.valid && (name.touched || contactForm.submitted )">

                        @if(!name.valid && (name.touched || contactForm.submitted )){
                        <span class="error-text">{{ langSvc.t.contactMe.forms.errorName[langSvc.lang()] }}</span>
                        }
                    </div>


                    <div class="input">
                        <label for="email">{{ langSvc.t.contactMe.forms.email[langSvc.lang()] }}</label>
                        <input id="inputMail" class="input-field input-design" #email="ngModel"
                            [(ngModel)]="contactData.email" type="email" id="email" name="email" required
                            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                            [class.invalid]="!email.valid && (email.touched || contactForm.submitted)">

                        @if(!email.valid && (email.touched || contactForm.submitted)){
                        <span class="error-text">{{ langSvc.t.contactMe.forms.errorEmail[langSvc.lang()] }}</span>
                        }
                    </div>

                </div>
                <div class="input-two">
                    <div class="textarea">
                        <label for="message">{{ langSvc.t.contactMe.forms.message[langSvc.lang()] }}</label>
                        <textarea id="inputText" class="input-textarea input-design" #message="ngModel"
                            [(ngModel)]="contactData.message" type="text" id="message" name="message"
                            value="your message" minlength="4" required
                            [class.invalid]="!message.valid && (message.touched || contactForm.submitted)"></textarea>
                    </div>
                </div>
                @if(!message.valid && (message.touched || contactForm.submitted)){
                <span class="error-text">{{ langSvc.t.contactMe.forms.errorText[langSvc.lang()] }}</span>
                }
                <div>
                    <div class="privacy-policy-check">
                        <img class="check-box" (click)="togglePrivacy()" (mouseenter)="hoveredPrivacyPolicy = true"
                            (mouseleave)="hoveredPrivacyPolicy = false" [src]="
                                    confirmPrivacyPolicy
                                      ? 'assets/img/shapes/shap_checkbox/checked.png'
                                      : contactForm.submitted
                                        ? 'assets/img/shapes/shap_checkbox/error.png'
                                        : hoveredPrivacyPolicy
                                          ? 'assets/img/shapes/shap_checkbox/hover.png'
                                          : 'assets/img/shapes/shap_checkbox/default.png'
                                  " (mouseenter)="hoveredPrivacyPolicy = true"
                            (mouseleave)="hoveredPrivacyPolicy = false">

                        <p>{{ langSvc.t.contactMe.forms.textPrivacyPolicy_1[langSvc.lang()] }} <a href="#">privacy policy</a> {{ langSvc.t.contactMe.forms.textPrivacyPolicy_2[langSvc.lang()] }}.
                        </p>
                    </div>
                    @if(!confirmPrivacyPolicy && contactForm.submitted){
                    <span class="error-text">{{ langSvc.t.contactMe.forms.errorPrivacyPolicy[langSvc.lang()] }}</span>
                    }
                    <div class="submit-button-wrapper">
                        <input class="button-for-submint" type="submit" value="Send">
                    </div>
                </div>
            </form>

            <div class="arrow-wrapper" (click)="scrollToTop($event)"
                (mouseenter)="hoverSvc.setHover(arrowHoverKey, true)"
                (mouseleave)="hoverSvc.setHover(arrowHoverKey, false)" [class.hover]="hoverSvc.getHover(arrowHoverKey)">

                <!-- Basis-Icon -->
                <img src="assets/img/icons/arrow_up.png" alt="arrow up" class="arrow-top arrow-base" />

                <!-- Hover-Icon -->
                <img src="assets/img/icons/arrow_up_hover.png" alt="arrow up hover" class="arrow-top arrow-hover" />

            </div>
        </div>
    </div>
</div>