<div class="form-content">
    <div class="form-wrapper">
        <h2>Contact me</h2>
        <div class="text-info-wrapper">
            <div class="form-text">
                I’m a dedicated and detail-oriented Frontend Developer with a strong focus on creating clean, intuitive
                and responsive user interfaces. I enjoy turning complex ideas into simple, elegant solutions using
                modern web technologies. My work is driven by structure, teamwork, and a deep interest in user-centric
                design and high-quality code.
            </div>

            <div class="form-contact-infos">

                <div class="contact-mail">
                    <img [src]="hoveredMail ? 'assets/img/icons/icon_email_hover.png' : 'assets/img/icons/icon_email.png'"
                    (mouseenter)="hoveredMail = true" (mouseleave)="hoveredMail = false"
                    alt="email icon" class="contact-icon">
                    <div class="">E-mail: hantelmarcogmail.com</div>
                </div>
                <div class="contact-tel">
                    <img [src]="hoveredPhone ? 'assets/img/icons/icon_phone_hover.png' : 'assets/img/icons/icon_phone.png'"
                    (mouseenter)="hoveredPhone = true" (mouseleave)=" hoveredPhone = false"
                    alt="phone icon" class="contact-icon">
                    <div class="">Tel.: +49 1743939622</div>
                </div>

            </div>
        </div>

        <!-- form -->
        <div class="form-wraper">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <div class="input-one">
                    <div class="input">
                        <label for="name">Your name</label>
                        <input class="input-feeld input-design"
                        #name="ngModel"
                        [(ngModel)]="contactData.name" type="text" id="name"
                            name="name" minlength="2" value="your name" required>
                    </div>
                         @if(!name.valid && (contactForm.submitted)){
                        <span>Please enter a valid Name in the feeld</span>
                            }
                    <div class="input">
                        <label for="email">Your Email</label>
                        <input class="input-feeld input-design" 
                        #email="ngModel"
                        [(ngModel)]="contactData.email" type="email" id="email"
                            name="email" required
                            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                    </div>
                        @if(!email.valid && (contactForm.submitted)){
                        <span>Please enter a valid email in the feeld</span>
                            }
                </div>
                <div class="input-two">
                    <div class="textarea">
                        <label for="message">Your Message</label>
                        <textarea class="input-textarea input-design" #message="ngModel"
                            [(ngModel)]="contactData.message" type="text" id="message" name="message"
                            value="your message" minlength="4" required></textarea>
                    </div>
                </div>
                    @if(!message.valid && (contactForm.submitted)){
                     <span>Please enter a valid message in the feeld</span>
                       }
                <div>
                    <div class="privacy-policy-check">
                        <img class="check-box"
                        (click)="togglePrivacy()"
                            (mouseenter)="hoveredPrivacyPolicy = true"
                            (mouseleave)="hoveredPrivacyPolicy = false"

                                [src]="
                                confirmPrivacyPolicy ? 'assets/img/shapes/shap_checkbox/checked.png':
                                hoveredPrivacyPolicy ? 'assets/img/shapes/shap_checkbox/hover.png' : 'assets/img/shapes/shap_checkbox/default.png'"
                            
                            (mouseenter)="hoveredPrivacyPolicy = true"
                            (mouseleave)="hoveredPrivacyPolicy = false">

                        <p>I've read the <a href="#">privacy policy</a> and agree to the process of my data as autlined.
                        </p>
                    </div>
                    <div class="submit-button-wrapper">
                        <input class="button-for-submint" type="submit" value="Send">
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>