<p>contact-me works!</p>
<div>
    <h2>Contact me</h2>

<div class="form-text">
Encourage people to contact you and describe what role you are interested in. Show that you will add value to their projects through your work. 
Example: Feel free to get in touch with job offers or opportunities such as: ...
</div>

<div class="form-contact-infos">

    <div class="contact-mail">
        <img src="assets/icons/email-icon.png" alt="email icon" class="contact-icon">
        <div class="">hantelmarcogmail.com</div>
    </div>

    <div class="contact-tel">
        <img src="assets/icons/email-icon.png" alt="email icon" class="contact-icon">
        <div class="">49 1743939622</div>
    </div>

</div>


</div>
