h3 {
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 0%;
}

.image-shape {
    width: 29px;
    height: 26px;
}

.tab-content {
    background-color: var(--color-tabblue);
    height: 100%;
    color: var(--color-white);
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.technology {
    display: none;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1199px;
    width: 100%;
    padding: 0px, 40px;
    gap: 8px
}

.content-text-wrapper {
    width: 50%;
}

.content-top-wrapper {
    display: flex;
    align-items: center;

    >img {
        margin-right: 16px;
    }
}

.content-description {
    background-color: black;
}

.about-wrapper {

    display: flex;
    align-items: center;
    gap: 32px;
}

.about-text,
.work-process-text,
.learned-text {
    padding: 0 42px;
}


.work-process-header {
    display: flex;
    align-items: center;


    >img {
        margin-right: 16px;
    }
}

// tech-wrapper styles (right side of the tab content)


.tech-wrapper {
    width: 50%;


    >.tech-img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 32px;
    }

    >.button-wrapper {
        display: flex;
        justify-content: center;
        gap: 32px;

        >.button-live-test {
            width: 132px;
            height: 48px;
            border-radius: 30px;
            background-color: var(--color-blue);
            border: none;

            >a {
                color: var(--color-anthra);
                font-family: Josefin Sans, sans-serif;
                font-weight: 400;
                font-style: Regular;
                font-size: 16px;
                line-height: 120%;
            }

            &:hover {
                background-color: var(--color-white);
            }

        }

        >.button-github {
            width: 132px;
            height: 48px;
            border-radius: 30px;
            background-color: var(--color-tabblue);
            border: 1px solid var(--color-blue);

            >a {
                color: var(--color-blue);
                font-family: Josefin Sans, sans-serif;
                font-weight: 400;
                font-style: Regular;
                font-size: 16px;
                line-height: 120%;
            }

            &:hover {
                background-color: var(--color-anthra);
            }
        }
    }
}


.project-img {
    border-radius: 15px;
    max-width: 453px;
    max-height: 312px;
    width: 100%;
    height: 100%;
    margin: 10px;
}

.tech-list-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 238px;
    margin-bottom: 16px;

    >.tech-img {
        width: 36px;
        height: 36px;
        gap: 32px;
    }
}

.mobile-Project-Name {
    display: none;
    font-size: 24px;
    margin-bottom: 16px;
}

// mobile view

@media screen and (max-width: 768px) {
    .technology {
        display: block;
        margin-bottom: 8px;
    }

    .d-none {
        display: block;

    }

    .content-wrapper {
        flex-direction: column-reverse;
        padding: 0;
    }

    .tech-list-img,
    .duration-desktop {
        display: none;
    }

    .content-text-wrapper,
    .tech-wrapper {
        width: 100%;
        font-size: 14px;
    }

    h3 {
        color: var(--color-blue);
    }

    .mobile-text-wrapper {
        width: 100%;

    }
}