h3 {
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 0%;
}

.image-shape {
    width: 29px;
    height: 26px;
}

.tab-content {
    background-color: var(--color-tabblue);
    height: 100%;
    width: 100%;
    color: var(--color-white);
    padding: 16px 0px 32px 0px;
     display: flex;
    align-items: center;
    justify-content: center;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1199px;
    padding: 0, 40px;
}

.content-text-wrapper {
    width: 50%;
}

.content-top-wrapper {
    display: flex;
    align-items: center;

    >img {
        margin-right: 16px;
    }
}

.content-description {
    background-color: black;
}

.about-wrapper {

    display: flex;
    align-items: center;
    gap: 32px;
}

.about-text,
.work-process-text,
.learned-text {
    padding: 0 42px;
}


.work-process-header {
    display: flex;
    align-items: center;


    >img {
        margin-right: 16px;
    }
}

// tech-wrapper styles (right side of the tab content)


.tech-wrapper {
    width: 50%;


    >.tech-img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 32px;
    }

    >.button-wrapper {
        display: flex;
        justify-content: center;
        gap: 32px;

        >.button-live-test {
            width: 132px;
            height: 48px;
            border-radius: 30px;
            background-color: var(--color-blue);
            border: none;

            >a {
                color: var(--color-anthra);
                font-family: Josefin Sans, sans-serif;
                font-weight: 400;
                font-style: Regular;
                font-size: 16px;
                line-height: 120%;
            }

            &:hover {
                background-color: var(--color-white);
            }

        }

        >.button-github {
            width: 132px;
            height: 48px;
            border-radius: 30px;
            background-color: var(--color-tabblue);
            border: 1px solid var(--color-blue);

            >a {
                color: var(--color-blue);
                font-family: Josefin Sans, sans-serif;
                font-weight: 400;
                font-style: Regular;
                font-size: 16px;
                line-height: 120%;
            }

            &:hover {
                background-color: var(--color-anthra);
            }
        }

        //         .button-live-test, .button-github {
        //   display: inline-flex;
        //   align-items: center;
        //   justify-content: center;
        //   padding: .75rem 1.25rem;
        //   border-radius: 10px;
        //   text-decoration: none;
        //   color: var(--color-white);
        // }
        // .button-live-test { background: var(--color-tabblue); }
        // .button-github    { background: #24292e; } // GitHub-Dunkel


    }
}


.project-img {
    border-radius: 15px;
    width: 453px;
    height: 312px;
}

.tech-list-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 238px;
    margin-bottom: 16px;

    >.tech-img {
        width: 36px;
        height: 36px;
        gap: 32px;
    }
}