h3{
    font-family: Josefin Sans, sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 0%;

    color: var(--color-white);
}

.tab-content{
    background-color: var(--color-tabblue);
    height: 100%;
}