<div class="nav-bar">
    <div class="nav-bar-wraper">
        <a href="/"><img class="nav-logo" src="assets/img/logo/LOGO_dark_mh.png"></a>

        <span>
            <a [routerLink]="['/']" (click)="scrollToSection($event, 'whyMe')">
                {{ langSvc.t.navbar.whyMe[langSvc.lang()] }}
            </a>
        </span>

        <span>
            <a [routerLink]="['/']" (click)="scrollToSection($event, 'skills')">
                {{ langSvc.t.navbar.skills[langSvc.lang()] }}
            </a>
        </span>

        <span>
            <a [routerLink]="['/']" (click)="scrollToSection($event, 'myProjects')">
                {{ langSvc.t.navbar.projects[langSvc.lang()] }}
            </a>
        </span>

        <span>
            <a [routerLink]="['/']" (click)="scrollToSection($event, 'contactMe')">
                {{ langSvc.t.navbar.contact[langSvc.lang()] }}
            </a>
        </span>
        <div class="language-icons">

            <div class="language-icon-de" (click)="setLang('de')" [class.active]="langSvc.is('de')">
                <span class="language-de">DE</span>
                @if (langSvc.is('de')) {
                <img src="assets/img/icons/ellipse_activ.png" alt="">
                }
            </div>

            <div class="language-icon-en" (click)="setLang('en')" [class.active]="langSvc.is('en')">
                <span class="language-en">EN</span>
                @if (langSvc.is('en')) {
                <img src="assets/img/icons/ellipse_activ.png" alt="">
                }
            </div>
        </div>

    </div>
</div>