

.skills-icon-container {
    height: 409px;
    width: 404px;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 32px;
}

.skills-wrapper{
    gap: 32px;
}