.skills-icon-container {
    height: 409px;
    max-width: 404px;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 32px;
}

.skills-wrapper {
    gap: 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skills-lerning-container {
    position: relative;
    text-align: center;
    height: 400px;
    display: flex;
    align-items: center; // vertikal zentrieren
    justify-content: center; // horizontal zentrieren

    >.shapes-container {
        position: relative;
        display: flex;
        align-items: center; // vertikal zentrieren
        justify-content: center; // horizontal zentrieren

        >img {
            position: absolute;
        }
    }

    >.lerning-container {
        position: absolute;
        width: 200px;
        padding: 0px 32px;
        font-family: Josefin Sans, sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: var(--color-white);
        line-height: 1.2;
        cursor: default;
    }
}

.img-top {
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
}

.img-bottom {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.hover {
    >.img-top {
        opacity: 0;
        transition: opacity 0.8s ease-in-out;
    }

    >.img-bottom {
        opacity: 1;
        transition: opacity 0.8s ease-in-out;
    }
}

// mobile view 

@media (max-width: 910px) {

    .skills-icon-container {
        height: auto;
    }


    .skills-wrapper {
        flex-direction: column;
        margin-bottom: 88px;
        width: 100%;
    }

    .shapes-container {
        display: none;
    }

    .img-bottom,
    .img-top {
        display: none;
    }

    .skills-lerning-container {
        position: static;
        height: auto;
        display: block;

        >.lerning-container {
            position: static;
            max-width: 500px;
            width: auto;
            padding: 16px 24px;

            >p {
                width: 100%;
            }

            >h3 {
                color: var(--color-blue);
            }

        }

    }

}