
<div class="wrapper">
  <div>
    <h2>My Skills</h2>

    <div class="skills-wrapper width">
      <div class="skills-icon-container">
        @for (item of skillsImg; track $index) {
          <img [src]="'assets/img/icons/' + item" alt="Skill Icon">
        }
      </div>

      <div class="skills-lerning-container">
        <div class="lerning-container">
          I am currently continuing my education in topics such as AI,
          which includes prompt engineering and AI and ethics,
          as well as programming with Python.
        </div>

        <!-- Hover-Shape, gesteuert über den HoverService -->
        <div
          class="shapes-container"
          (mouseenter)="hoverSvc.setHover(shapeHoverKey, true)"
          (mouseleave)="hoverSvc.setHover(shapeHoverKey, false)"
          [class.hover]="isShapeHovered()"
        >
          <img class="img-top" src="assets/img/shapes/ellipse_1.png" alt="">
          <img class="img-bottom" src="assets/img/shapes/ellipse_2.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
