
<div class="wrapper">
  <div class="skill-content">
    <h2>{{ langSvc.t.whyMe.mySkills.title[langSvc.lang()] }}</h2>

    <div class="skills-wrapper width">
      <div class="skills-icon-container">
        @for (item of skillsImg; track $index) {
          <div class="skill-icon-text-wrapper">
          <img [src]="'assets/img/icons/SVG/' + item" alt="Skill Icon">
          <p class="skill-text">{{ skillsText[$index] }}</p>
          </div>
        }
      </div>

      <div class="skills-lerning-container">
        <div class="lerning-container">
          <h3>{{ langSvc.t.whyMe.mySkills.headline[langSvc.lang()] }}</h3>
          <p>{{ langSvc.t.whyMe.mySkills.myText[langSvc.lang()] }}</p>
        </div>

        <!-- Hover-Shape, gesteuert über den HoverService -->
        <div
          class="shapes-container"
          (mouseenter)="hoverSvc.setHover(shapeHoverKey, true)"
          (mouseleave)="hoverSvc.setHover(shapeHoverKey, false)"
          [class.hover]="isShapeHovered()"
        >
          <img class="img-top" src="assets/img/shapes/ellipse_1.png" alt="">
          <img class="img-bottom" src="assets/img/shapes/ellipse_2.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
