<app-navbar></app-navbar>
<div class="imprint-wrapper">
    <h1>{{ langSvc.t.imprint.legalNotice[langSvc.lang()] }}</h1>
    <div class="imprint-content">

        <div class="imprint-text">
            <h3>{{ langSvc.t.imprint.title[langSvc.lang()] }}</h3>
            <ul>
                <li>Marco Hantel</li>
                <li>82223 Eichenau</li>
            </ul>
            Email: <a class="imprint-links" href="mailto:hantelmarco@gmail.com">hantelmarco[at]gmail.com</a>
        </div>

        <div class="imprint-text">

            <h3>{{ langSvc.t.imprint.acceptance[langSvc.lang()] }}</h3>
            <p [innerHTML]="langSvc.t.imprint.acceptanceText[langSvc.lang()]"></p>

        </div>

        <div class="imprint-text">

            <h3>{{ langSvc.t.imprint.scope[langSvc.lang()] }}</h3>

            <p [innerHTML]="langSvc.t.imprint.scopeText[langSvc.lang()]"></p>

        </div>

        <div class="imprint-text">

            <h3>{{ langSvc.t.imprint.proprietaryRights[langSvc.lang()] }}</h3>

            <p [innerHTML]="langSvc.t.imprint.proprietaryText[langSvc.lang()]"></p>

        </div>

        <div class="imprint-text">

            <h3>{{ langSvc.t.imprint.use[langSvc.lang()] }}</h3>

            <p [innerHTML]="langSvc.t.imprint.useText[langSvc.lang()]"></p>
        </div>

        <div class="imprint-text">

            <h3>{{ langSvc.t.imprint.disclaimer[langSvc.lang()] }}</h3>

            <p [innerHTML]="langSvc.t.imprint.disclaimerText[langSvc.lang()]"></p>

        </div>

        <div class="imprint-text">

            <h3>{{ langSvc.t.imprint.indemnity[langSvc.lang()] }}</h3>

            <p [innerHTML]="langSvc.t.imprint.indemnityText[langSvc.lang()]"></p>
        </div>
    </div>
</div>