h3 {
    color: var(--color-blue);
}

h1 {
    font-family: Anta, sans-serif;
    color: var(--color-blue);
    font-size: 54px;
}


.imprint-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 20px;
    min-height: 100vh;
    height: auto;
    width: 100%;
    line-height: 120%;

    >.imprint-content {
        max-width: 1032px;
        width: 90%;
        height: 100%;

        >.imprint-text {
            margin: 32px 0px;
            color: var(--color-white);

            >p {
                span {
                    color: var(--color-blue);
                }

                a {
                    text-decoration: none;
                    color: var(--color-blue);
                }
            }
        }
    }
}

// mobile view 

@media (max-width: 768px) {
    .imprint-wrapper {
        >.imprint-content {
            width: 90%;

            >.imprint-text {
                font-size: 14px;
            }
        }
    }
    h1 {
    font-size: 32px;
}
}