<div id="top" class="landingpage-wraper">
    <div class="landing-page">
        <!-- ist der große shap -->
        <div class="img-change"
            (mouseenter)="hoverSvc.setHover(shapeHoverKey, true)"
            (mouseleave)="hoverSvc.setHover(shapeHoverKey, false)"
            [class.hover]="hoverSvc.getHover(shapeHoverKey)">

            <!-- Basis-Shape -->
            <img class="img base" src="assets/img/shapes/BG_shape_1.png" alt="Background Shape 1">

            <!-- Hover-Shape -->
            <img class="img top" src="assets/img/shapes/BG_shape_2.png" alt="Background Shape 2">

            <!-- Selfie bleibt oben drauf -->
            <img class="on-top selfie" src="assets/img/me/marco_1.png" alt="Portrait Marco">
        </div>




        <div class="text-landing-page">
            <div class="logo-and-socials-wraper">
                <div class="logo-and-socials-spacer">

                    <div class="logo-container " (mouseover)="hoveredLogo = true" (mouseleave)="hoveredLogo = false"
                        [class.motion-for-logo]="hoveredLogo">
                        <img class="small-logo " src="assets/img/logo/LOGO_mh.png">
                        <img class="big-logo " src="assets/img/logo/LOGO_hover_mh.png">
                    </div>

                    <div class="social-icons">
                        <img [src]="hoveredSocialMail ? 'assets/img/social/Email_button_hover.png' : 'assets/img/social/Email_button.png'"
                            (mouseenter)="hoveredSocialMail = true" (mouseleave)="hoveredSocialMail = false" alt="">
                        <img [src]="hoveredSocialGit ? 'assets/img/social/Git_button_hover.png' : 'assets/img/social/Git_button.png'"
                            (mouseenter)="hoveredSocialGit = true" (mouseleave)="hoveredSocialGit = false" alt="">
                        <img [src]="hoveredSocialLin ? 'assets/img/social/Linkedin_button_hover.png' : 'assets/img/social/Linkedin_button.png'"
                            (mouseenter)="hoveredSocialLin = true" (mouseleave)="hoveredSocialLin = false" alt="">
                    </div>
                </div>
            </div>
            <h1>Marco Hantel</h1>
            <span>FRONTEND DEVELOPER</span>

            <div (click)="scrollToContact($event)" class="img-change arrow-down"
                (mouseenter)="hoverSvc.setHover(arrowHoverKey, true)"
                (mouseleave)="hoverSvc.setHover(arrowHoverKey, false)"
                [class.hover]="hoverSvc.getHover(arrowHoverKey)">

                <img class="img" src="assets/img/icons/arrow_down.png">
                <img class="img top" src="assets/img/icons/arrow_down_hover.png">
                
            </div>
        </div>
    </div>
</div>