<div class="landing-page">


    <div class="img-change" (mouseenter)="hovered = true" (mouseleave)="hovered = false" [class.hover]="hovered">
        <div class="social-icons">
            <img src="assets/img/social/Email_button.png" alt="">
            <img src="assets/img/social/Git_button.png" alt="">
            <img src="assets/img/social/Linkedin_button.png" alt="">
        </div>
        <!-- mit wenn hovered false ist, wird die classe hover hinzugefühgt [class.hover]="hovered" -->
        <img class="img base" src="assets/img/shapes/BG_shape_1.png"
            alt=""><!-- Basisbild liegt oben (liefert auch die Höhe des Containers) -->
        <img class="img top" src="assets/img/shapes/BG_shape_2.png"
            alt=""><!-- Hoverbild liegt unten und wird dann oben drüber gelegt -->
        <img class="on-top selfie" src="assets/img/me/marco_1.png">

    </div>



    <div class="text-landing-page">
        <div class="logo-container img-change" (mouseover)="hovered = true" (mouseleave)="hovered = false"
            [class.hover]="hovered">
            <img class="small-logo img base" src="assets/img/logo/LOGO.png">
            <img class="big-logo img top" src="assets/img/logo/LOGO_hover.png">
        </div>
        <h1>Marco Hantel</h1>
        <span>FRONTEND DEVELOPER</span>

        <div class="img-change arrow-down" (mouseenter)="hovered = true" (mouseleave)="hovered = false"
            [class.hover]="hovered">
            <img class="img base" src="assets/img/icons/arrow_down.png">
            <img class="img top" src="assets/img/icons/arrow_down_hover.png">
        </div>
    </div>
</div>