:root {
  --color-blue: rgb(137, 188, 217);   
  --color-anthra: rgb(38, 46, 52);
  --color-white: rgb(248, 245, 236);  
  --color-lightgrey: rgba(38, 46, 52, 0.12); // Hellgrau mit Transparenz    
  --color-red: rgb(228, 76, 54);  
  --color-green: rgb(151, 225, 99);
  --color-tabblue: rgb(45, 56, 64)
}